{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-8 px-md-5 py-5">
	<div class="row pt-md-4">
		<h1 class="mb-3">{{ note.title }}</h1>
		<p>
			<img src="{{ note.photo.url }}" alt="" class="img-fluid">
		</p>
		<p>{{ note.content|safe }}</p>
		<div class="tag-widget post-tag-container mb-5 mt-5">
			<div class="tagcloud">
				<a href="#" class="tag-cloud-link">Life</a>
				<a href="#" class="tag-cloud-link">Sport</a>
				<a href="#" class="tag-cloud-link">Tech</a>
				<a href="#" class="tag-cloud-link">Travel</a>
			</div>
		</div>

		<div class="about-author d-flex p-4 bg-light">
			<div class="bio mr-5">
				<img src="{{ note.author.photo.url }}" alt="Image placeholder" style="width: 100px; height: 100px;" class="img-fluid mb-4">
			</div>
			<div class="desc">
				<h3>{{ note.author.name }}</h3>
				<p>{{ note.author.about }}</p>
			</div>
		</div>


<div class="pt-5 mt-5">
  <h3 class="mb-5 font-weight-bold">6 Comments</h3>
  <ul class="comment-list">
	<li class="comment">
	  <div class="vcard bio">
		<img src="images/person_1.jpg" alt="Image placeholder">
	  </div>
	  <div class="comment-body">
		<h3>John Doe</h3>
		<div class="meta">October 03, 2018 at 2:21pm</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
		<p><a href="#" class="reply">Reply</a></p>
	  </div>
	</li>

	<li class="comment">
	  <div class="vcard bio">
		<img src="images/person_1.jpg" alt="Image placeholder">
	  </div>
	  <div class="comment-body">
		<h3>John Doe</h3>
		<div class="meta">October 03, 2018 at 2:21pm</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
		<p><a href="#" class="reply">Reply</a></p>
	  </div>

	  <ul class="children">
		<li class="comment">
		  <div class="vcard bio">
			<img src="images/person_1.jpg" alt="Image placeholder">
		  </div>
		  <div class="comment-body">
			<h3>John Doe</h3>
			<div class="meta">October 03, 2018 at 2:21pm</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
			<p><a href="#" class="reply">Reply</a></p>
		  </div>


		  <ul class="children">
			<li class="comment">
			  <div class="vcard bio">
				<img src="images/person_1.jpg" alt="Image placeholder">
			  </div>
			  <div class="comment-body">
				<h3>John Doe</h3>
				<div class="meta">October 03, 2018 at 2:21pm</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
				<p><a href="#" class="reply">Reply</a></p>
			  </div>

				<ul class="children">
				  <li class="comment">
					<div class="vcard bio">
					  <img src="images/person_1.jpg" alt="Image placeholder">
					</div>
					<div class="comment-body">
					  <h3>John Doe</h3>
					  <div class="meta">October 03, 2018 at 2:21pm</div>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
					  <p><a href="#" class="reply">Reply</a></p>
					</div>
				  </li>
				</ul>
			</li>
		  </ul>
		</li>
	  </ul>
	</li>

	<li class="comment">
	  <div class="vcard bio">
		<img src="images/person_1.jpg" alt="Image placeholder">
	  </div>
	  <div class="comment-body">
		<h3>John Doe</h3>
		<div class="meta">October 03, 2018 at 2:21pm</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
		<p><a href="#" class="reply">Reply</a></p>
	  </div>
	</li>
  </ul>
  <!-- END comment-list -->
  
  <div class="comment-form-wrap pt-5">
	<h3 class="mb-5">Leave a comment</h3>
	<form action="#" class="p-3 p-md-5 bg-light">
	  <div class="form-group">
		<label for="name">Name *</label>
		<input type="text" class="form-control" id="name">
	  </div>
	  <div class="form-group">
		<label for="email">Email *</label>
		<input type="email" class="form-control" id="email">
	  </div>
	  <div class="form-group">
		<label for="website">Website</label>
		<input type="url" class="form-control" id="website">
	  </div>

	  <div class="form-group">
		<label for="message">Message</label>
		<textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
	  </div>
	  <div class="form-group">
		<input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
	  </div>

	</form>
  </div>
</div>
	</div><!-- END-->
</div>
{% endblock %}