{% load static %}

<div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
    <div class="sidebar-box pt-md-4">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon icon-search"></span>
                <input type="text" class="form-control" placeholder="Type a keyword and hit enter" />
            </div>
        </form>
    </div>
    <!-- Categories -->
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Project Categories</h3>
        <ul class="categories">
            {% if project_ctg %}
            {% for ctg in project_ctg %}
            <li>
                <a href="#">{{ ctg.name }} <span style="color: green;">({{ ctg.project_set.count }})</span></a>
            </li>
            {% endfor %}
            {% else %}
            <p>No Category Found</p>
            {% endif %}
        </ul>
    </div>
    <!-- Categories -->

    <!-- Popular Notes -->
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Popular Projects</h3>
        {% if popular_project %}
        {% for project in popular_project %}
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url({% static 'images/image_1.jpg' %});"></a>
            <div class="text">
                <h3 class="heading"><a href="{% url 'project-details' project.slug %}">{{ project.title }}</a></h3>
                <div class="meta">
                    <div>
                        <a href="#"><span class="icon-calendar"></span>{{ project.published_date }}</a>
                    </div>
                    <div>
                        <a href="#"><span class="icon-person"></span>{{ project.author }}</a>
                    </div>
                    <div>
                        <a href="#"><span class="icon-chat"></span> 19</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No Project Found</p>
        {% endif %}
    </div>
    <!-- Popular Notes -->

    <!-- Tags -->
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Tag Cloud</h3>
        <ul class="tagcloud">
            {% if project_tag %}
            {% for tag in project_tag %}
            <a href="#" class="tag-cloud-link">{{ tag.name }}</a>
            {% endfor %}
            {% else %}
            <p>No Tags Found</p>
            {% endif %}
        </ul>
    </div>
    <!-- Tags -->

    <div class="sidebar-box subs-wrap img py-4" style="background-image: url(images/bg_1.jpg);">
        <div class="overlay"></div>
        <h3 class="mb-4 sidebar-heading">Newsletter</h3>
        <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
        <form action="#" class="subscribe-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address" />
                <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit" />
            </div>
        </form>
    </div>

   {% include 'base/archives.html' %}

    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Paragraph</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
    </div>
</div>